<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <property name="DEFAULT_PATH" value="./logs"/>
    <property name="INFO_PATH" value="info"/>
    <property name="ERROR_PATH" value="error"/>
    <property name="BACKUP_PATH" value="../logs/backup"/>
    <property name="MAX_HISTORY" value="30"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) [traceId=%X{traceId}] %highlight(%-5level) [%C.%M:%line] - %msg%n"/>
    <property name="FILE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] [%thread] [traceId=%X{traceId}] %-5level [%C.%M:%line] - %msg%n"/>

    <springProfile name="local">
        <include resource="logback/console-appender.xml"/>
        <include resource="logback/file-info-appender.xml"/>
        <include resource="logback/file-error-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-ERROR"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="logback/console-appender.xml"/>
        <include resource="logback/file-info-appender.xml"/>
        <include resource="logback/file-error-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-ERROR"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="logback/file-info-appender.xml"/>
        <include resource="logback/file-error-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-ERROR"/>
        </root>
    </springProfile>
</configuration>
